/* 기본 설정 */
:root{
    --main-textcolor: hsl(0, 0%, 20%);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

/* navbar */
#header{
    background-color: #8dbbdc;
    box-shadow: 5px 5px 8px hsla(0, 0%, 0%, 0.106);
}

#navbar {
    height: 7vh;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2vh;
    padding-right: 17vw;
}

.menu {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

#menu-home {
    color: #6894b5;
}

/* body contents */
.all-content {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}
#main-content{
    flex-wrap: wrap;
}

.title-content {
    color:#18679f;
    font-weight: 800;
    margin-left: 5rem;
    text-shadow: 5px 5px 8px hsla(0, 0%, 0%, 0.169);
    ;
}

#main-about {
    font-size: 4vh;
    font-family: 'Fredoka One'
}

#main-pp {
    font-size: 15vh;
    margin-left: 3rem;
    font-family: 'Fredoka One'
}

/* introduce */
.intrd {
    background-color: rgb(226, 226, 226);
    box-shadow: 7px 7px 10px hsla(0, 0%, 0%, 0.169);
    border-radius: 50px;
    padding: 3.5rem;
    width: 15rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 10rem;
    line-height: 30px;
    font-size: 1rem;
    color: var(--main-textcolor);
}

.intrd-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.intrd-pp{
    margin-bottom: 2rem;
    font-weight: bolder;
    font-size: 2rem;
    color: #18679f;
    line-height: 2.3rem;
}

.hr {
    margin-bottom: 2rem;
    width: 4rem;
    background-color: #565656;
    height: 1px;
    border-bottom: 0px;
    border-top: 0px;

}

/* footer */
footer {
    transform: translatY(100%);
    position: relative;
    background-color: rgba(198, 198, 198, 0.834);
    padding: 3rem;
    padding-left: 15rem;
    font-weight: 600;
    font-size: 15px;
    color: var(--main-textcolor);
 }
 
.wrapper{
    padding-bottom: 30%;
}

/* img */
img {
    width: 38vw;
    margin-top: 7rem;
    margin-left: 5rem;
    box-shadow: 5px 5px 8px hsla(0, 0%, 0%, 0.169);

}

@media screen and (max-width: 1000px) {
    img {
        display: none;
    }
    
    .all-content {
        margin-top: 7vh;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .intrd {
        margin: 0;
        width: 60vw;
        font-size: 1.2rem;
    }

    .title-content {
        margin: 0;
    }

    #main-pp {
        margin: 0;
    }

    
    
}